.encabezado .masthead{
    padding-top: 50px;
    padding-bottom: 50px;
    background: url("../images/fondo-mega.jpg");
}
.encabezado .masthead h1{ 
    color: rgb(255,255,255);
    text-align: center;
}  
.fondo_principal {
    background-color:#181c33;
}  
.nav-link{
    color:white !important;
}