#fondo_juego{
    background-color: #3B424E;
}

#extras{
    height:580px;
    background-color: #1B232F;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: .25rem;
}
#extras ul {
    list-style:none;
    padding:0;
    margin-bottom: 5px !important;
}
#extras ul li {
    display:inline-block;
    padding:5px;
    margin-top: 3px;
    margin-right:5px;
    margin-left:5px;
    color: #1B232F;
    background-color: white;
    border-radius: 5px;
}
#chat_mensajes{
    height: 16vh;
    overflow: auto;
    margin-left:5px;
    margin-right:5px;
    border-radius: .25rem;
    background-color: white;
}
.form-group{
    margin-bottom: 0;
    margin-left:5px;
    margin-right:5px;
    border-radius: .25rem;
}
#chessCanvas{
    margin-top: 1vh;
}
#jugadas{
    height: 38vh;
    overflow: auto;
}
#turno{
    color:white;
}
.btn_enviar{
    color:white;
    background-color: darkgray;
    padding-left: 5vw;
    padding-right: 5vw;
}
.btnturno{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 0;
}